{
    "extends": "eslint-config-airbnb",
    "rules": {
      "camelcase": [0, { "properties": "never" }],
      "no-console": 0,
      "no-alert": 0
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ]
}
